*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        background-color: orange;
    }
    .form {
        background-color:orange;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: center;
        margin-left: 500px;
        margin-top: 100px;
        
    }
    
    .form h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #0b8b1c;
    }
    
    .form input[type="FirstName"],
    .form input[type="LastNAme"],
    .form input[type="email"],
    .form input[type="registration number"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid orange;
        font-size: 16px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .form input[type="submit"] {
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    } 
    
    .form label{
        margin-right: 200px;
    
    }
    .form input[type="submit"] {
        background-color: rgb(1, 58, 30);
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100px;
        
    }
    
    .form input[type="submit"]:hover {
        background-color: #005f5f;
    }
    
    .form p {
        font-size: 14px;
        color: #333;
        margin-top: 15px;
    }
    
    .form a {
        color: rgb(18, 94, 43);
        text-decoration: none;
    }
    
    .form a:hover {
        text-decoration: underline;